Checks: >
  bugprone-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  misc-include-cleaner,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -bugprone-exception-escape

WarningsAsErrors: '*'
HeaderFilterRegex: '.*/src/.*'
FormatStyle: file
